.bestsellers {
  padding: 2rem 3rem;
  margin-top: 1rem;
}

.bestsellers-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 3rem;
}

.bestsellers-title {
  font-size: 2rem;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  color: #000;
  margin: 0;
}

.bestsellers-line {
  flex-grow: 1;
  height: 1.5px;
  background-color: #000;
}

.bestsellers-list {
  display: flex;
  gap: 2rem;
  padding-bottom: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}

.product-card {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 1.2rem 1.2rem 1rem;
  width: 250px;
  height: 450px;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: visible;
  position: relative;
}

.product-card:hover img {
  transform: scale(1.05);
}

.product-card img {
  width: 100%;
  height: auto;
  object-fit: contain;
  margin-top: -55px;
  margin-bottom: 1rem;
  transition: transform 0.3s ease;
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.2));
}

.product-card h3,
.price,
.installments {
  margin: 0.25rem 0;
  text-align: start;
  font-family: Arial, Helvetica, sans-serif;
}

.price {
  font-weight: bold;
  font-size: 1.2rem;
}

.price span {
  font-size: 0.9rem;
  font-weight: normal;
  color: #555;
}

.installments {
  color: #2e7d32;
  font-size: 0.9rem;
}

.buttons {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.cart-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 42px;
  width: 100px;
  border-radius: 999px;
  font-weight: bold;
  font-size: 0.95rem;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.buy-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 42px;
  width: 120px;
  border-radius: 999px;
  font-weight: bold;
  font-size: 0.95rem;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cart-btn {
  border: 2px solid #000;
  background-color: #fff;
  color: #000;
}

.buy-btn {
  border: none;
  background-color: #008000;
  color: #fff;
}

.cart-btn:hover {
  background-color: #000;
  color: #fff;
  transform: scale(1.05);
}

.buy-btn:hover {
  background-color: #256729;
  transform: scale(1.05);
}

@media (max-width: 600px) {
  .product-card {
    margin-top: 3rem;
  }
}
