@import url('./components/buttons/button-register.css');
@import url('./components/links/link-forgot-password.css');
@import url('./components/Error/error-message.css');
@import url('./components/inputs/input-register.css');

@font-face {
  font-family: Montserrat;
  src: url('../../../fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #fafafa;
}

.container {
  background-color: #ffffff;
  padding: 40px 30px;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  width: 100%;
  max-width: 800px;
}

.logo-container {
  text-align: center;
  margin-bottom: 30px;
}

.Suplementos {
  font-size: 32px;
}

.img-flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}

.img-flex-container img {
  max-width: 100%;
  height: auto;
}


.register-link {
  margin-top: 16px;
  text-align: center;
  font-size: 14px;
}

.link-register {
  color: #c80000;
  text-decoration: none;
  font-weight: 600;
}

.link-register:hover {
  text-decoration: underline;
}
