/* Rodapé */
.rodape {
  background-color: #990000;
  color: #fff;
  padding: 20px 0;
}

.rodape-conteudo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px;
}

.rodape-logo a {
  font-size: 1.5em;
  color: #fff;
  text-decoration: none;
}

.rodape-links a {
  margin: 0 10px;
  color: #fff;
  text-decoration: none;
}

.rodape-links a:hover {
  text-decoration: underline;
}

.rodape-social a {
  margin: 0 5px;
  color: #fff;
  font-size: 1.2em;
}

.rodape-direitos {
  text-align: center;
  margin-top: 10px;
  font-size: 0.9em;
}