body {
  font-family: sans-serif;
  user-select: none;
  margin: 0;
}

.titulo {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}
.presentation-section {
  background: linear-gradient(to bottom, #c80000, #7d0808);
}

.presentation-section img {
  max-height: 90%;
  object-fit: contain;
}

.logo-container img {
  height: 150px;
}

.input-group-text {
  background: none;
  border: none;
}

.register-link {
  font-size: 14px;
}

.social-icons img {
  width: 50px;
  height: 50px;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 30px;
  transition: 0.3s;
}

.social-icons img:hover {
  transform: scale(1.1);
  border: 1px solid #c80000;
}

/* Novos estilos para inputs com ícones */
.input-with-icon {
  position: relative;
}

.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #6c757d;
  z-index: 5;
}

.input-with-icon input {
  padding-left: 40px;
}

.toggle-password {
  cursor: pointer;
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #6c757d;
  z-index: 5;
}

.btn-custom {
  background-color: #c80000;
  border-color: #c80000;
  color: white;
  font-weight: bold;
}

.btn-custom:hover {
  background-color: #a30000;
  border-color: #a30000;
  color: white;
}

@media (max-width: 768px) {
  .presentation-section {
    display: none;
  }

  .logo-container img {
    height: 120px;
  }
}
