@import url("../components/sidebar-filtro/sidebar.css");
@import url("../components/cards/cards-list.css");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  border-bottom: 1px solid #ddd;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #e60023;
}
.logo span {
  color: #000;
}

.search-bar {
  flex: 1;
  margin: 0 1rem;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  border: 1px solid #ccc;
}

nav a {
  margin: 0 0.5rem;
  color: red;
  text-decoration: none;
  font-weight: bold;
}

.cart-button {
  background: white;
  border: 1px solid red;
  color: red;
  box-shadow: 0 2px 6px rgba(255, 0, 0, 0.3);
  padding: 0.6rem 0.9rem;
  border-radius: 12px;
  font-size: 1.3rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

.cart-button:hover {
  background: red;
  color: white;
  box-shadow: 0 4px 12px rgba(255, 0, 0, 0.5);
}

main {
  display: flex;
  padding: 1rem;
}
