@import url("../components/buttons/button-register.css");
@import url("../components/error/error-message.css");
@import url("../components/inputs/input-register.css");

@font-face {
  font-family: Montserrat;
  src: url("../../../fonts/Montserrat/Montserrat-VariableFont_wght.ttf")
    format("truetype");
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.titulo {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  user-select: none;
}

.container {
  background-color: #ffffff;
  padding: 40px 30px;
  border-radius: 16px;
  width: 100%;
  max-width: 90vw;
}

.logo-container {
  text-align: center;
  margin-bottom: 30px;
}

.Suplementos {
  font-size: 32px;
}

.img-flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}

.img-flex-container img {
  max-width: 100%;
  height: auto;
}

.register-link {
  margin-top: 16px;
  text-align: center;
  font-size: 14px;
}

.link-register {
  color: var(--color-blue-link);
}

.link-register:hover {
  text-decoration: underline;
}

.readonly-style {
  background-color: #f8f9fa;
  pointer-events: none;
  color: #6c757d;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none !important;
}