<!-- PERMISSÕES -->
<section class="adm-section" id="permissions">
  <div class="adm-page-header">
    <div>
      <h1>Permissões de Acesso</h1>
      <p>Controle o que cada perfil pode visualizar e executar.</p>
    </div>
  </div>
  <div class="adm-card">
    <div class="adm-table-wrap">
      <table class="adm-table adm-table--permissions">
        <thead>
          <tr>
            <th>Módulo</th>
            <th>Administrador</th>
            <th>Atendente</th>
            <th>Cliente</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Dashboard</td>
            <td><i class="fa-solid fa-check adm-perm--yes"></i></td>
            <td><i class="fa-solid fa-check adm-perm--yes"></i></td>
            <td><i class="fa-solid fa-xmark adm-perm--no"></i></td>
          </tr>
          <tr>
            <td>Produtos</td>
            <td><i class="fa-solid fa-check adm-perm--yes"></i></td>
            <td><i class="fa-solid fa-check adm-perm--yes"></i></td>
            <td><i class="fa-solid fa-xmark adm-perm--no"></i></td>
          </tr>
          <tr>
            <td>Pedidos</td>
            <td><i class="fa-solid fa-check adm-perm--yes"></i></td>
            <td><i class="fa-solid fa-check adm-perm--yes"></i></td>
            <td><i class="fa-solid fa-xmark adm-perm--no"></i></td>
          </tr>
          <tr>
            <td>Usuários</td>
            <td><i class="fa-solid fa-check adm-perm--yes"></i></td>
            <td><i class="fa-solid fa-xmark adm-perm--no"></i></td>
            <td><i class="fa-solid fa-xmark adm-perm--no"></i></td>
          </tr>
          <tr>
            <td>Relatórios</td>
            <td><i class="fa-solid fa-check adm-perm--yes"></i></td>
            <td><i class="fa-solid fa-xmark adm-perm--no"></i></td>
            <td><i class="fa-solid fa-xmark adm-perm--no"></i></td>
          </tr>
          <tr>
            <td>Configurações</td>
            <td><i class="fa-solid fa-check adm-perm--yes"></i></td>
            <td><i class="fa-solid fa-xmark adm-perm--no"></i></td>
            <td><i class="fa-solid fa-xmark adm-perm--no"></i></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
