<!-- CATEGORIAS -->
<section class="adm-section" id="categories">
  <div class="adm-page-header">
    <div>
      <h1>Categorias</h1>
      <p>Organize a estrutura de navegação do catálogo.</p>
    </div>
    <button class="adm-btn adm-btn--primary">
      <i class="fa-solid fa-plus"></i> Nova categoria
    </button>
  </div>
  <div class="adm-grid-2">
    <div class="adm-card adm-category-card">
      <div class="adm-category-card-icon">
        <i class="fa-solid fa-dumbbell"></i>
      </div>
      <div class="adm-category-card-info">
        <strong>Proteínas</strong><span>32 produtos</span>
      </div>
      <div class="adm-actions">
        <button class="adm-btn-icon">
          <i class="fa-solid fa-pen-to-square"></i>
        </button>
        <button
          class="adm-btn-icon adm-btn-icon--danger"
          onclick="confirmDelete(this)"
        >
          <i class="fa-solid fa-trash"></i>
        </button>
      </div>
    </div>
    <div class="adm-card adm-category-card">
      <div class="adm-category-card-icon">
        <i class="fa-solid fa-capsules"></i>
      </div>
      <div class="adm-category-card-info">
        <strong>Aminoácidos</strong><span>18 produtos</span>
      </div>
      <div class="adm-actions">
        <button class="adm-btn-icon">
          <i class="fa-solid fa-pen-to-square"></i>
        </button>
        <button
          class="adm-btn-icon adm-btn-icon--danger"
          onclick="confirmDelete(this)"
        >
          <i class="fa-solid fa-trash"></i>
        </button>
      </div>
    </div>
    <div class="adm-card adm-category-card">
      <div class="adm-category-card-icon">
        <i class="fa-solid fa-bolt"></i>
      </div>
      <div class="adm-category-card-info">
        <strong>Pré-treino</strong><span>11 produtos</span>
      </div>
      <div class="adm-actions">
        <button class="adm-btn-icon">
          <i class="fa-solid fa-pen-to-square"></i>
        </button>
        <button
          class="adm-btn-icon adm-btn-icon--danger"
          onclick="confirmDelete(this)"
        >
          <i class="fa-solid fa-trash"></i>
        </button>
      </div>
    </div>
    <div class="adm-card adm-category-card">
      <div class="adm-category-card-icon">
        <i class="fa-solid fa-apple-whole"></i>
      </div>
      <div class="adm-category-card-info">
        <strong>Vitaminas</strong><span>24 produtos</span>
      </div>
      <div class="adm-actions">
        <button class="adm-btn-icon">
          <i class="fa-solid fa-pen-to-square"></i>
        </button>
        <button
          class="adm-btn-icon adm-btn-icon--danger"
          onclick="confirmDelete(this)"
        >
          <i class="fa-solid fa-trash"></i>
        </button>
      </div>
    </div>
  </div>
</section>
